<?xnl version="1.0" encoding="UTF-8"?>

<launch>
	<!-- overwriting these args -->
	<arg name="debug" default="false" />
	<arg name="gui" default="true" />
	<arg name="pause" default="true" />
	<arg name="headless" default="false"/>
	<arg name="world" default="empty" />

	<!-- include gazebo_ros launcher -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		 <arg name="world_name" value="$(find IC382demo)/world/game_field_world.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg pause)" />
		<arg name="headless" value="$(arg headless)"/>
		<arg name="use_sim_time" value="true" />
	</include>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find IC382demo)/urdf/robot.urdf'"/>

	<arg name ="x" default="0"/>
	<arg name ="y" default="0"/>
	<arg name ="z" default="0"/>

	<node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
		args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)"/>

	<rosparam file="$(find IC382demo)/config/differential_control.yaml" command="load" />
    
	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/my_robot/joint_states" />
		<param name="publish_frequency" type="double" value="50.0" />
	</node>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

	<node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/my_robot" args="joint_state_controller Differential_left_controller Differential_right_controller" />

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz"/>

</launch>
